<div class="text-center">
  <h1 class="text-center"> Welcome <%=current_user.email if current_user%> </h1>
  <hr>
  <h1>Users#dashboard</h1>
  <p>Find me in app/views/users/dashboard.html.erb</p>
</div>
