<div class="btn-group btn-group-toggle" data-toggle="buttons">
  <label class="btn btn-outline-success active">
    <input type="radio" name="options" id="option1" autocomplete="off" checked> Public
  </label>
  <label class="btn btn-outline-success">
    <input type="radio" name="options" id="option3" autocomplete="off"> Private
  </label>
</div>
